header {
    text-align: left;
    background-image: linear-gradient(to right, rgb(18, 15, 29),  rgb(108, 94, 158));
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: rgb(231, 231, 231);
    text-shadow: 0 0 10px black;
}

.row6 {
    background-image: linear-gradient(to right, rgb(18, 15, 29),  rgb(108, 94, 158));
    color: rgb(231, 231, 231);
    text-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

.picture {
    background-attachment: fixed;
    background-image: url(boise-city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

body {
    text-align: center;    
}

.link:hover {
    text-shadow: 0 0 10px white;
}

.row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.row2 {
    height: auto;
    box-shadow: 0 2px 5px black;
}

.row3, .row4, .row5 {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(245, 244, 252);
}

nav {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 18px;
    background-image: linear-gradient(to right, rgb(51, 46, 82),  rgb(155, 150, 201));
    color: white;
    box-shadow: 0 0 10px black;

    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    text-shadow: 0 2px 2px rgb(158, 157, 157);
    font-family: 'Montserrat Subrayada', sans-serif;
}

.profile-pic {
    box-shadow: 2px 2px 20px black;
}

.icon {
    height: 120px;
    width: 100px;
    padding-top: 20px;
}

.card-img-top {
    height: 100%;
    width: 100%;
}

.card {
    box-shadow: 0 3px 7px black;
    cursor: pointer;
}

.row-icons {
    box-shadow: 0 3px 40px black;
}